@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* ========== Navbar ============*/
.navbar-bg {
  background-color: var(--bgcolor) !important;
  padding: 2rem 0;
  z-index: 99;
  position: relative;
}
.navbar .container .navbar-brand {
  font-size: 2.5rem;
}
.navbar li {
  padding: 0 2rem;
}
.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
}
.navbar li a:hover {
  color: var(--primary-color) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}
.btn-style {
  width: 12rem !important;
  height: 4rem !important;
  border-radius: 2rem !important;
  color: #fff !important;
  background-color: var(--primary-color) !important;
  text-transform: capitalize !important;
  font-size: 1.6rem !important;
}
.btn-style:first-child {
  margin-right: 2rem;
}
.btn-style:hover {
  border: 0.1rem solid var(--primary-color) !important;
  background-color: transparent !important;
  color: var(--primary-color) !important;
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5) !important;
}
.btn-style-border {
  border: 0.1rem solid var(--primary-color) !important;
  background-color: transparent !important;
  color: var(--primary-color) !important;
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5) !important;
}
.btn-style-border:hover {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5) !important;
}

/* =======================================Header Section===============================*/
header {
  background-color: var(--bgcolor);
  min-height: 100vh;
  width: 100%;
}
.main-hero-container {
  height: 80vh;
  display: flex;
}
.main-hero-container h1 {
  text-transform: capitalize;
  font-weight: bolder;
}
.main-hero-para {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}
.main-hero-container h3 {
  font-weight: lighter;
}
.input-group {
  position: relative;
}
.form-control-text {
  position: absolute;
  height: 5rem;
  border: none;
  outline: none;
  padding-left: 1.5rem !important;
  font-size: 1.4rem;
  font-weight: lighter;
  width: 65%;
}
.form-control-text::placeholder {
  padding-left: 4%;
}
.input-group-button {
  position: absolute;
  right: 35%;
  top: 0.3rem;
  color: #fff;
  background-color: var(--primary-color);
  height: 4.5rem;
  width: 20%;
  border-radius: 2rem !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.main-herosection-images {
  position: relative;
}
.main-herosection-images img {
  width: 60%;
  height: 75%;
  margin-top: 10rem;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  position: absolute;
}
.main-herosection-images .main-herosec-img2 {
  position: absolute;
  width: 45%;
  height: 30%;
  left: 55%;
  top: -2%;
  box-shadow: 0.8rem 0 0.8rem rgba(0, 0, 0, 0.25);
}

/* ========== Responsive ============*/

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}
